[Unit]
Description=PyPI server and packaging/testing/release tool
After=network.target

[Service]
Restart=on-failure
ExecStartPre=/usr/local/bin/devpi-server --init
ExecStart=/usr/local/bin/devpi-server

[Install]
WantedBy=multi-user.target
